
	<a 
	class={Astro.props.class}
	href="https://github.com/juanchocor/Platzigram-" 
	class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
		<img 
		class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" 
		src="https://images.pexels.com/photos/5052877/pexels-photo-5052877.jpeg" 
		alt=""
		>
		<div class="flex flex-col justify-between p-4 leading-normal">
			<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
			>cloned instagram page</h5>
			<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
				"Django-based Instagram clone app that enables user creation, deletion, updating, and image uploading to your profile.".</p>
		</div>
	</a>


